{% extends "layout.html" %}

{% block title %}
    Landing Page
{% endblock %}

{% block main %}
<form action="/"  method = ["GET", "POST"]>
<h1>Your own personalized Gym progress website!</h1>
<div id="main-content">
    <h4>What it does</h4>
    <p> Through the gym tracker, you get to log your progress of workouts every single day and visualize your performance and growth over weeks and months! We make it easy and sleek for you to work through our webpage
        <br><br>
    </p>
    <p>
    Your Ultimate Fitness Companion! Revolutionize your fitness journey with our comprehensive gym tracker website. Whether you're a seasoned athlete or just starting, our platform empowers you to take control of your workouts and health goals. Track your progress with precision, log workouts seamlessly, and visualize your achievements with intuitive charts and graphs. From personalized workout plans to nutrition tracking, we offer a holistic approach to fitness. Connect with a vibrant community, share your victories, and draw inspiration from fellow fitness enthusiasts. With a user-friendly interface accessible across devices, FitTrack makes fitness management effortless. Join us today and embark on a transformative journey towards a healthier, fitter you.
    </p>
</div>
</form>
{% endblock %}

